<h1>TODOの編集</h1>

<form action="/todos/<%= @todo[0] %>" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="title" value="<%= @todo[1] %>">
  <button type="submit">更新</button>
</form>


<form action="/todos/<%= @todo[0] %>" method="POST" style="margin-top:10px;">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除" style="background-color:#e74c3c;color:white;">
</form>


<a href="/" class="back-link">戻る</a>

<link rel="stylesheet" href="/styles.css">
